@CHARSET "UTF-8";

.fliph {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";  
}

.flipv {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";  
}

.force-inline-block {
  display: inline-block !important;
}

.glyph-stack {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.glyph-stack i{
  position: absolute;
}

.glyph-xs{font-size: 0.5em;}
.glyph-sm{font-size: 0.7em;}
.glyph-md{font-size: 1.2em;}
.glyph-lg{font-size: 1.5em;}
.glyph-xl{font-size: 1.7em;}

#editor {
  height: 250px;
  background-color: white;
  border-collapse: separate; 
  border: 1px solid rgb(204, 204, 204); 
  box-sizing: content-box; 
  -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  border-top-right-radius: 3px; border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; border-top-left-radius: 3px;
  overflow: scroll;
  outline: none;  
}

.div-as-table {
  display: block;
  margin: 0.5em;
}
.div-as-table .row {
  display: inline-block;
}
.div-as-table .row div {
  display: table-cell;
  border-color: #AAA;
  border-style: solid;
  border-width: 1px;
  height: inherit;
}

.ui-datepicker {
  z-index: 1001 !important;
}